{% extends 'pages/Interface_Communes/userinterface.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
     <link href="{{ asset('css/styleAhmed.css') }}" rel="stylesheet" type="text/css"/>

<main class="mai">
   

{{ form_start(form, {'attr': {'class': 'forum', 'id': 'myForma', 'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
        <h2>Add New Quiz</h2>
        <div class="form-group">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            <span id="titreerror"></span>
        </div>
        <div class="form-group">
            {{ form_label(form.decrp) }}
            {{ form_widget(form.decrp, {'attr': {'class': 'form-control', 'rows': 15}}) }}
            <span id="contenterror"></span>
        </div>
        <div class="form-group">
            {{ form_label(form.nbQuest) }}
            {{ form_widget(form.nbQuest, {'attr': {'class': 'form-control'}}) }}
            <span id="contenterror"></span>
        </div>
        
        <div class="form-group">
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
            <span id="contenterror"></span>
        </div>
        <div class="form-group">
        {{ form_label(form.imageUrl) }}
        {{ form_widget(form.imageUrl, {'attr': {'class': 'form-control'}}) }}
        <span id="imageerror"></span>
    </div>

        <div class="form-group">
            <div id="drop-zone">Drop a .docx file here</div>
            <img id="image-preview">
        </div>
<button id="mainSubmitButton" type="submit" name="submit">Submit</button>
    {{ form_end(form) }}

    </main>
    

   
{% endblock %}
