{% extends 'pages/Admin/admindashboard.html.twig' %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: #f8f9fa !important; /* Couleur de fond */
        }
        .container {
            margin-top: 50px !important; /* Espacement du haut */
        }
        .form-group {
            margin-bottom: 20px !important; /* Espacement entre les groupes de champs */
        }
        h1 {
            text-align: center!important; /* Centrer le titre */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; /* Police de caractères */
            font-size: 2.5rem!important; /* Taille du texte */
            color: #0F056B!important; /* Couleur du texte */
            margin-bottom: 30px!important; /* Espacement en dessous du titre */
            text-shadow: 2px 2px 4px rgba(15, 5, 107, 0.2)!important; /* Ombre portée pour un effet de profondeur */
        }
        /* CSS pour le bouton "Envoyer" */
        .btn-submit {
            padding: 10px 20px!important;
            border: none!important;
            border-radius: 5px!important;
            background-color: #ffffff!important; /* Couleur blanche */
            color: #0F056B!important; /* Couleur de texte bleue */
            font-weight: bold !important; /* Texte en gras */
            font-size: 1rem !important; /* Taille de la police */
            text-transform: uppercase!important; /* Convertir en majuscules */
            transition: background-color 0.3s ease!important;
            display: inline-block!important;
            cursor: pointer!important;
        }
        .btn-submit:hover {
            background-color: #0F056B!important; /* Couleur bleue plus foncée au survol */
            color: #ffffff!important; /* Couleur de texte blanche au survol */
        }
        /* CSS pour les titres des champs */
        .form-group label {
            font-weight: bold!important; /* Texte en gras */
        }
    </style>
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ajouter un cours</title>    
</head>
<div class="main">
<body>
    <div class=" container maincontent">
        <h1 class="mt-5 mb-4">Création d'un nouveau cours</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form_start(l, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(l.titre, 'Course Title') }}
                {{ form_widget(l.titre, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le titre du cours', 'maxlength': '255'}}) }}
  {{ form_errors(l.titre, {'attr': {'class': 'text-danger'}}) }}            </div>

            <div class="form-group">
                {{ form_label(l.description, 'Course Description') }}
                {{ form_widget(l.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la description du cours', 'maxlength': '255'}}) }}
  {{ form_errors(l.description, {'attr': {'class': 'text-danger'}}) }}            </div>

            <div class="form-group">
                {{ form_label(l.niveau, 'Course Level') }}
                {{ form_widget(l.niveau, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(l.niveau, {'attr': {'class': 'text-danger'}}) }}            </div>

             <div class="form-group">
                <label class="col-lg-4 col-form-label" for="val-username">Course Image<span class="text-danger">*</span></label>
                <div class="col-lg-8">
                    {{ form_label(l.ImagePath) }}
                    {% if l.ImagePath.vars.value %}
                        <img src="{{ asset('/public/assets/' ~ l.ImagePath.vars.value) }}" alt="Image du produit" class="img-thumbnail">
                    {% endif %}
                    {{ form_widget(l.ImagePath, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(l.ImagePath, {'attr': {'class': 'text-danger'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(l.link, 'Course Link') }}
                {{ form_widget(l.link, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le lien de la vidéo'}}) }}
                 {{ form_errors(l.link, {'attr': {'class': 'text-danger'}}) }}
                
            </div>

            <div class="form-group">
                <button type="submit" class="btn-submit btn-block">Envoyer</button>
            </div>
            {{ form_end(l) }}
        </form>
    </div>
</body>
</div>
</html>
{% endblock %}
