<tbody class="table-border-bottom-0">
    {% for course in l %}
        <tr>
            <td>{{ course.titre }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.niveau }}</td>
            <td>
                <li
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    title="Lilian Fuller"
                >
                    <img src="{{ asset('assets/' ~ course.imagePath) }}" alt="Avatar" class="rounded-circle" />
                </li>
            </td>
            <td>
                {% if course.link %}
                    <a class="video-link" href="{{ course.link }}" target="_blank"><strong>Watch Video</strong></a>
                {% else %}
                    <span class="no-video">No Video Available</span>
                {% endif %}
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <!-- Actions -->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('cours_detail', {'id': course.id}) }}"><i class="bx bx-edit-alt me-1"></i>Edit</a> | <a class="dropdown-item" href="{{ path('cours_delete', {id: course.id}) }}"><i class="bx bx-trash me-1"></i>Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
