{% extends 'pages/Admin/admindashboard.html.twig' %}

{% block css %}   
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets1/vendor/fonts/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets1/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('assets1/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('assets1/css/demo.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets1/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <script src="{{ asset('assets1/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets1/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('assets1/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets1/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('assets1/vendor/js/menu.js') }}"></script>
    <script src="{{ asset('assets1/js/main.js') }}"></script>
    <!-- Include any other page-specific JavaScript here -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <style>
        /* Ajoutez vos styles CSS personnalisés ici */
        .custom-image {
            max-width: 100px; /* ajustez la largeur maximale selon vos besoins */
            height: auto; /* maintenez le rapport hauteur/largeur */
        }
    </style>
{% endblock %}

{% block content %}
<style>
.pagination {
    --bs-pagination-padding-x: 0.5125rem;
    --bs-pagination-padding-y: 0.625rem;
    --bs-pagination-font-size: 0.9375rem;
    --bs-pagination-color: #697a8d;
    --bs-pagination-bg: #f0f2f4;
    --bs-pagination-border-width: 0px;
    --bs-pagination-border-color: #d9dee3;
    --bs-pagination-border-radius: 0.25rem;
    --bs-pagination-hover-color: #697a8d;
    --bs-pagination-hover-bg: #e1e4e8;
    --bs-pagination-hover-border-color: rgba(67, 89, 113, 0.3);
    --bs-pagination-focus-color: #697a8d;
    --bs-pagination-focus-bg: #e1e4e8;
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: rgba(105, 108, 255, 0.08);
    --bs-pagination-active-border-color: rgba(105, 108, 255, 0.08);
    --bs-pagination-disabled-color: #a1acb8;
    --bs-pagination-disabled-bg: #f7f8f9;
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none
}
</style>
    <div class="main">
     
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <div class="layout-page">
                 <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card-header flex-column flex-md-row"><div class="head-label text-center"><h5 class="card-title mb-0">Books DataTable</h5></div><div class="dt-action-buttons text-end pt-3 pt-md-0"><div class="dt-buttons btn-group flex-wrap"><a href="{{ path('admin_ebookadd') }}"><button  class="btn btn-secondary create-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button"><span><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Book</span></span></button></a> </div></div></div>
<br>
<br>

                        <div class="card">
                        
                            
                            <h5 class="card-header">Table Basic</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Book Title</th>
                                            <th>Category</th>
                                            <th>Cover</th>
                                            <th>Availability</th>
                                            <th>PDF</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        {% for book in pagination %}
                                            <tr>
                                                <td>{{ book.nomLiv }}</td>
                                                <td>{{ book.categorieLiv }}</td>
                                                 <td> <li
                              data-bs-toggle="tooltip"
                              data-popup="tooltip-custom"
                              data-bs-placement="top"
                              class="avatar avatar-xs pull-up"
                              title="Lilian Fuller">
                              <img src="{{ asset('assets/' ~ book.imagePath) }}" alt="Avatar" class="rounded-circle" />
                            </li></td>
                                               
                                                <td>{{ book.disponibiliteLiv }}</td>
                                                <td>
                                                    <a href="{{ asset('assets/' ~ book.pdfPath) }}" target="_blank">View PDF</a>
                                                </td>
                                                <td>
                                                 <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                                                    <!-- Actions -->
                                                   <div class="dropdown-menu">  <a class="dropdown-item" href="{{ path('books_detail', {'id': book.idLiv}) }}"><i class="bx bx-edit-alt me-1"></i>Edit</a> | <a class="dropdown-item" href="{{ path('books_delete', {'id': book.idLiv}) }}">
                                                   
                                                  <i class="bx bx-trash me-1"></i>  Delete</a></div>
                                                  </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                            </div>
                            <center>
                                    {{ knp_pagination_render(pagination,'bases/pagination.html.twig') }} 
                            </center>

                                   <br>
                                   
                                </div>
                           

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
   
{% endblock %}
