{% extends 'pages/Admin/admindashboard.html.twig' %}

{% block title %}users - Responsive Admin Dashboard{% endblock %}
{% block content %}
<style>
.recentOrders{width: 1100px;text-align: center;padding-left: 40px;}


</style>
   <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label for="search-input">
                        <input type="text" id="search" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search').keyup(function() {
            var query = $(this).val();
            $.ajax({
                url: "{{ path('app_user_search') }}",
                type: "POST",
                data: {query: query},
                success: function(data) {
                    $('#results').html(data);
                    $('#results').css('width', '100%');
                    $('#results').css('position', 'static');
                }
            });
        });
    });
</script>
                

 
                <div class="user">
                
                    <img src="/images/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                   <div class="numbers">1533</div>
                        <div class="cardName">Daily Views</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Sales</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Comments</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table id="results" class ="tablview">
                        <thead>
                            <tr>
                                <td>nom</td>
                                <td>pernom</td>
                                <td>email</td>
                                <td>role</td>
                                <td>image</td>
                                <td >actif</td>
                            </tr>
                        </thead>

                        <tbody>
                        {%for U in users %} 
                        <tr>
        
        <td>{{ U.nom}}</td>   
        <td>{{ U.prenom }}</td>
        <td>{{ U.mail}}</td>
        <td> {% if U.role == 0 %}
                Etudiant
            {% elseif U.role == 1 %}
                Prof
            {% elseif U.role == 2 %}
                Admin
            {% endif %}
            </td>
            {% if U.image %}
            <td><img src="{{ asset('uploads/files/' ~ U.image) }}" style="width:50px;height:50px;"></td>
            {% else %}
            <td>Aucune image sélectionnée</td>
            {% endif %}
        <td>    {% if U.actif == 0 %}
                
                  <img  src="/images/verifier.png" alt="Utilisateur Activer" style="position: relative; width: 25px; height: 25px; border-radius: 50px; overflow: hidden;">
                
            {% elseif U.actif == 1 %}
                <img  src="/images/desactiver.png" alt="Utilisateur désactivé" style="position: relative; width: 25px; height: 25px; border-radius: 50px; overflow: hidden;">
                
            {% endif %}</td>
             <td><a href="{{ path('app_user_edit', {'id': U.userId}) }}">edit</a></td>
             <td><a href="{{ path('app_user_delete', {'id': U.userId}) }}">delete</a></td>
       
        {% endfor %}
        
    </tr>
                          
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                
            </div>
        </div>
    </div>

{% endblock %}
